# Virtual environment
venv/

# Node modules
node_modules/

# Python bytecode
__pycache__/
*.pyc

# Environment variables
.env

# Model and serialized files
*.pkl

# SQLite databases
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS Finder metadata
.DS_Store

# VS Code project settings
.vscode/

# Vim/Emacs swap files
*.swp
*.swo
